   <div class="b4"></div>
    <div class="b5">
        <div class="b5Top">
           <a href="/"><img class= "Logo" src="/public/images/Logo.png" alt=""></a>
        </div>
        <div class="b5Bottom">
            <div class="b5BottomLeft"><a href="/Contracts"><img class= "Hire" src="/public/images/HireUs.png" alt=""></div></a>
            <div class="b5BottomRight"><a href="/Apply"><img class= "Work" src="/public/images/Work.png" alt=""></div></a>
        </div>
    </div>
    <div class="b6"></div>