<div class="container">
    
    <div class="b1"></div>
    <div class="b2"></div>
    <div class="b3"></div>
    <div class="b4"></div>
    <div class="b5">
        <div class="b5Top">
            <img class= "Logo" src="/public/images/Logo.png" alt="">
        </div>
        <div class="b5Bottom">
            <div class="b5BottomLeft"><img class= "Hire" src="/public/images/HireUs.png" alt=""></div>
            <div class="b5BottomRight"><img class= "Work" src="/public/images/work.png" alt=""></div>
        </div>
    </div>
    <div class="b6"></div>
    <div class="b7"></div>
    <div class="b8">Copyright © 2018 TrimJob. All rights reserved.</div>
    <div class="b9"></div>
</div>